body{
    background-image: url(./images/welcome\ 2.jpg);
    background-size: cover;
    margin-right: auto;
    margin-right: auto;
    background-color: #8DB5ED;
    background-blend-mode: screen;
}
